a.project{
	color: blue;
	font-size: 110%;
}
a.project.old{
	color: red;
	font-size: 110%;
}
a.project:hover{
	color: green;
}
a.project:active{
	color: red;
}
button{cursor: pointer;}
table[border="0"] td{
	padding: 10px 10px;
}
